<footer class="container footer navbar navbar-fixed-top navbar-light bg-light-inverse">
  <span class="navbar-text">
    <small> NOKA SmarTap Manager App by James Barnard </small>
  </span>
  <nav>
    <ul class='nav justify-content-end'>
      <li class='nav-item'><%= link_to "About",   '#', class: 'nav-link' %></li>
      <li class='nav-item'><%= link_to "Contact", '#', class: 'nav-link' %></li>
    </ul>
  </nav>
</footer>
