<footer class='container footer navbar fixed-bottom'>
  <span class='navbar-text text-muted'>
    <small> NOKA SmarTap Manager Application by James Barnard </small>
  </span>
  <span class='navbar-text justify-content-center text-muted'>
    <small><%= logged_in_as(current_user) %></small>
  </span>
  <nav>
    <ul class='nav justify-content-end'>
      <li class='nav-item'><%= link_to "About",   '#', class: 'nav-link' %></li>
      <li class='nav-item'><%= link_to "Contact", '#', class: 'nav-link' %></li>
    </ul>
  </nav>
</footer>
